body{
    color: #3A3b3c;
    background-color: whitesmoke;
}
a{
    text-decoration: none;
}

.main-menu{
    display: flex;
}

.symbol{
    width: 20%;
    /* font-family: 'PT', sans; */
    font-size: 3rem;
    background-color: #ECEFF1;
}

.navbuttons{
    width: 80%;
}

.visitorProfile{
    display: flex;
}

.image-class{
    background-color: antiquewhite;
    width: 400px;
    height: 500px;
    object-fit:cover;
}

.profilePicture{
    max-width: 100%;
    max-height: 100%;
}

.caption{
    background-color: antiquewhite;
    width: 400px;
    height: 500px;
}

.name{
    font-size: 3rem;
}

.designation{
    font-size: 1.5rem;
}

.description{
    font-size: 1.1rem;
}

.skills{
    font-size: 1.1rem;
    font-style: italic;
}

.working-hours{

}

.contact{
    display: flex;
}